<div class="page-header">
  <%= link_to recitas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_recita_path(@recita), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @recita.nome %></dd>

  <dt>Descricao:</dt>
  <dd><%= @recita.descricao %></dd>

  <dt>Valor:</dt>
  <dd><%= @recita.valor %></dd>

</dl>
